:root {
  /* 主题色hsl*/
  --h: 149;
  --s: 93%;
  --l: 39%;
  --l-dark: calc(var(--l) - 5%); /* 深主题色 l */

  --hsl: var(--h), var(--s), var(--l); /* 主题色hsl*/
  --hsl-dark: var(--h), var(--s), var(--l-dark); /* 深主题色hsl*/

  --color: hsl(var(--hsl)); /* 主题色 hsl(149, 93%, 39%)*/
  --color-dark: hsl(var(--hsl-dark)); /* 深主题色 hsl(149, 93%, 34%) */
  --color-sub: hsl(91, 70%, 57%); /* 主题辅色 */

  /* 浅主题色 递浅系列阶梯  */
  --color-light: hsl(var(--hsl), 0.12);
  --color-light-3: hsl(var(--hsl), 0.7);
  --color-light-5: hsl(var(--hsl), 0.5);
  --color-light-7: hsl(var(--hsl), 0.3);
  --color-light-8: hsl(var(--hsl), 0.2);
  --color-light-9: hsl(var(--hsl), 0.1);

  /* 功能色 */
  --color-success: #07c160;
  --color-warning: #faad14;
  --color-danger: #eb5e12;

  --border-radius: 8px; /* 常规圆角 */
  --border-radius-small: 4px; /* 小圆角 */
  --border-radius-big: 16px; /* 大圆角 */
  --card-margin: 16px; /* 卡片间距 */
  --top-nav-heght: 64px; /* 顶部导航条高度 */

  --font-black: #1d2129; /* 通用字体黑色 */
  --font-black-2: hsl(0, 0%, 20%); /* #333*/
  --font-black-3: hsl(0, 0%, 30%); /* #444*/
  --font-black-4: hsl(0, 0%, 40%); /* #666 */
  --font-black-5: hsl(0, 0%, 50%); /* #808080 #777*/
  --font-black-6: hsl(0, 0%, 60%); /* #999*/
  --font-black-7: hsl(0, 0%, 70%); /* #b3b3b3 #bbb #aaa*/
  --font-black-8: hsl(0, 0%, 80%); /* #ccc #ddd*/
  --font-black-9: hsl(0, 0%, 90%); /* #e6e6e6 #eee*/

  --font-white: #fff; /* 通用字体白色 */

  /* 背景色，暗黑模式下为黑色 */
  --bg-white: #fff;

  --bg-black: #000; /* 通用背景黑色 */
  --bg-black-2: hsl(0, 0%, 20%); /* #333*/
  --bg-black-3: hsl(0, 0%, 30%); /* #444*/
  --bg-black-4: hsl(0, 0%, 40%); /* #666 */
  --bg-black-5: hsl(0, 0%, 50%); /* #808080 #777*/
  --bg-black-6: hsl(0, 0%, 60%); /* #999*/
  --bg-black-7: hsl(0, 0%, 70%); /* #b3b3b3 #bbb #aaa*/
  --bg-black-8: hsl(0, 0%, 80%); /* #ccc #ddd*/
  --bg-black-9: hsl(0, 0%, 90%); /* #e6e6e6 #eee*/
  --bg-black-10: hsl(0, 0%, 95%); /* #f2f2f2 */
}

/* 暗黑模式 */
.dark {
  --font-black: var(--font-white);
  --bg-white: #1d2129;
}

/* 项目定制原子类 */
.g-radius {
  border-radius: 8px;
}
.g-radius-small {
  border-radius: 16px;
}
.g-radius-big {
  border-radius: 16px;
}

.g-margin {
  margin: var(--card-margin);
}
.g-margin-t {
  margin-top: var(--card-margin);
}
.g-margin-r {
  margin-right: var(--card-margin);
}
.g-margin-b {
  margin-bottom: var(--card-margin);
}
.g-margin-l {
  margin-left: var(--card-margin);
}

.g-color {
  color: var(--color);
}

/* 渐变背景 */
.g-bg-lg {
  background: linear-gradient(to left, var(--color) 0%, var(--color-sub) 100%);
  box-shadow: 0px 13px 16px 0px hsl(var(--hsl-dark), 0.2);
}
