#app {
  .main-container {
    min-height: 100%;
    transition: all 0.28s;
    position: relative;
    margin-left: 20px;
    flex: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: #fff;
    font-size: 0px;
    bottom: 0;
    z-index: 1001;
    overflow: hidden;
    flex: none;
    box-shadow: 0px 2px 2px 0px rgba(228, 228, 228, 0.35);

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // 菜单，目录
    .el-menu-item,
    .el-submenu > .el-submenu__title {
      margin: 4px auto;
      font-weight: 500;
      height: 40px;
      line-height: 40px;
      i {
        color: inherit;
      }
      // background-color: $subMenuBg !important;
      &:hover {
        color: $blue;
        background-color: transparent !important;
      }
    }
    // 叶子菜单项
    .el-menu-item {
      margin: 4px 16px;
      min-width: auto;
      // a {
      //   &:hover {
      //     color: inherit !important;
      //   }
      // }
    }
    // 当前激活菜单
    .el-menu-item.is-active {
      background: linear-gradient(to right, $blue 0%, $light-blue 100%);
      box-shadow: 0px 13px 16px 0px rgba(7, 168, 85, 0.2);
      border-radius: 8px;
      color: #fff !important;
      z-index: 1;
    }

    // 当前激活菜单所属上级菜单标题目录
    .is-active > .el-submenu__title {
      color: $blue !important;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 0 !important;
    }

    .main-container {
      margin-left: 0;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
// .el-menu--vertical {
//   & > .el-menu {
//     .svg-icon {
//       margin-right: 16px;
//     }
//   }

//   .nest-menu .el-submenu > .el-submenu__title,
//   .el-menu-item {
//     &:hover {
//       // you can use $subMenuHover
//       background-color: $menuHover !important;
//     }
//   }

//   // the scroll bar appears when the subMenu is too long
//   > .el-menu--popup {
//     max-height: 100vh;
//     overflow-y: auto;

//     &::-webkit-scrollbar-track-piece {
//       background: #d3dce6;
//     }

//     &::-webkit-scrollbar {
//       width: 6px;
//     }

//     &::-webkit-scrollbar-thumb {
//       background: #99a9bf;
//       border-radius: 20px;
//     }
//   }
// }
